<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Shop</title>

</head>
<body>
    <header>
        <nav id='navbar'>
            <div class="main">
                <div class="logo">
                    <h1><a href="index.html">My Shop</a></h1>
                </div>
                <ul>
                    <li class="this"><a href="index.html">Home</a></li>
                    <li><a href="login.html">My Shop</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>
    {% block content %}
    {% endblock content %}
</body>
</html>