<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This product delete</title>
    <link rel="stylesheet" href="{% static 'css/delete.css' %}">
</head>
<body>
    <nav id="id">
        <form method="POST">
            {% csrf_token %}
            <a href="{% url 'list' %}" style="text-decoration: none;">Go product lis</a>
            <h1><span1><span>Are you sure you want to delete this {{list}} product</span> <span2>?</span2></h1>
            <button type="submit" value="Delete">Delete</button>
        </form>
    </nav>
</body>
</html>